.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#particles canvas {
  z-index: -1;
  position: absolute;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5%;
}
